.grille{
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 350px ;
}

button{
    background-color: white;
    border-radius: 10%;
    border: 1px solid black;
}
button:hover{
    cursor: pointer;
}
header{
    display: flex;
    justify-content: center;
}